
*.xccheckout

*.xcuserstate

*.xcsettings

*.xcscheme

AMSlideMenuDemo-with Storyboard/AMSlideMenu.xcodeproj/xcuserdata/Logger.xcuserdatad/xcschemes/xcschememanagement.plist

AMSlideMenuDemo-WithoutStoryboard/AMSlideMenuWithoutStoryboard.xcodeproj/xcuserdata/Logger.xcuserdatad/xcschemes/xcschememanagement.plist
AMSlideMenuDemo-with Storyboard/AMSlideMenu.xcodeproj/xcuserdata/ivanramirez.xcuserdatad/xcschemes
